body {
    margin: 0;
}

header {
    height: 100vh;
    background-color: #82a8e5;
    margin: none;
    display: flex;
    flex-direction: column;
}

header div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

header nav {
    margin-top: 78px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100vw;
}

header nav:hover {
    background-color: rgba(0, 0, 0, .1);
}

header nav p {
    text-align: center;
    font-size: 8rem;
}

.header {
    margin-top: 50px;
    margin-left: 100px;
}

.header h1 {
    font-size: 3rem;
}

.header p {
    margin: 0;
}

.techcar {
    margin-top: 50px;
    margin-right: 300px;
}

header p span {
    border-bottom: 1px solid yellow;
}

main {
    padding-left: 100px;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background-color: #71a1c6;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

article {
    display: flex;
    flex-direction: row;
}

aside {
    width: 100px;
    height: 100vh;
    background-color: #eeeeee;
}

h2 {
    margin-left: 20px;
    padding-left: 8px;
    border-radius: 4px;
    font-size: 3rem;
    border-left: 4px solid blue;
}

p {
    margin-left: 20px;
    font-size: 1.5rem;
}

.tech {
    list-style-type: none;
    height: 650px;
    margin-top: 210px;
    margin-left: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.tech li {
    padding-bottom: 20px;
}

.screenshot {
    width: 70vw;
    margin-left: 20px;
}

figure {
    margin: 0;
}

.logo {
    height: 100px;
}

.links {
    width: 300px;
    margin-right: 300px;
    margin-top: 100px;
}

.links img {
    width: 60px;
}

a {
    font-size: 3.3rem;
    text-decoration: none;
    display: inline-block;
    height: 60px;
}

.links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    list-style-type: none;
}

a {
    color: gray;
}

a:visited {
    color: gray;
}

a:hover {
    color: gray;
}
